%% IF specification of models/spaka_local_auth_key_update.hlpsl

section signature:

state_local_ataj: agent * agent * hash_func * hash_func * hash_func * text * message * text * message * nat * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * set(agent) * set(agent) * nat -> fact
state_local_v: agent * agent * hash_func * hash_func * hash_func * text * message * text * message * nat * text * text * text * text * text * message * message * message * message * message * message * message * message * message * message * message * message * message * set(agent) * set(agent) * nat -> fact


section types:

sec_updated_key, local_key_update_ack, local_key_update_request, sec_local_key, local_ataj_auth, local_vehicle_auth: protocol_id
set_146, set_145, set_120, set_119: set
State, 4, 3, SID, 2, 1, 0, Dummy_State, SID2, SID1: nat
Set_86, Set_85, Set_53, Dummy_Set_86, Dummy_Set_85, Set_45, Dummy_Set_53, Dummy_Set_45, ASGoal: set(agent)
Ci, Ci_next, Ns, Nd_prime, Ri_next, Cnew, Rnew_prime, Ms, Md, SK_local, SK_new, Hup, Hack, IDV, SK_old, Dummy_Hack, ack, Dummy_Rnew_prime, Dummy_Ns, Dummy_Hup, Dummy_SK_new, Dummy_Rnew, req, Dummy_Cnew, start, Dummy_SK_local, Dummy_Md, Dummy_Ms, Ns_prime, Dummy_Ri_next, Dummy_Ri_prime, Ri_prime, Dummy_Nd_prime, Dummy_Ci_next, Dummy_Ci, Rnew, dummy_msg, MGoal, idv, sk_old: message
T0, T1, T2, Tnew, Tack, T, PUFSeed, Dummy_Tack, Dummy_Tnew, Dummy_T2, Dummy_T1, Dummy_T0, dummy_nonce, t_commit, pufseed: text
PUF, Mask, H, h, mask, puf: hash_func
V, ATAj, A2Goal, A1Goal, v, ataj, i, idintruder: agent


section inits:

initial_state init1 := 
 iknows(start).
 iknows(idintruder).
 iknows(v).
 iknows(ataj).
 iknows(h).
 iknows(mask).
 iknows(puf).
 iknows(idv).
 iknows(req).
 iknows(ack).
 iknows(i).
 state_local_v(v,ataj,h,mask,puf,pufseed,sk_old,t_commit,idv,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_119,set_120,3).
 state_local_ataj(ataj,v,h,mask,puf,pufseed,sk_old,t_commit,idv,0,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_nonce,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,dummy_msg,set_145,set_146,4)


section rules:

step step_0 (V,ATAj,H,Mask,PUF,PUFSeed,SK_old,T,IDV,Dummy_T0,T1,T2,Tnew,Tack,Ci,Ci_next,Ns_prime,Nd_prime,Ri_prime,Ri_next,Cnew,Rnew,Ms,Md,SK_local,SK_new,Hup,Set_45,Set_53,SID,T0) :=
 state_local_v(V,ATAj,H,Mask,PUF,PUFSeed,SK_old,T,IDV,0,Dummy_T0,T1,T2,Tnew,Tack,Ci,Ci_next,Ns_prime,Nd_prime,Ri_prime,Ri_next,Cnew,Rnew,Ms,Md,SK_local,SK_new,Hup,Set_45,Set_53,SID).
 iknows(start)
=[exists T0]=>
 state_local_v(V,ATAj,H,Mask,PUF,PUFSeed,SK_old,T,IDV,1,T0,T1,T2,Tnew,Tack,Ci,Ci_next,Ns_prime,Nd_prime,Ri_prime,Ri_next,Cnew,Rnew,Ms,Md,SK_local,SK_new,Hup,Set_45,Set_53,SID).
 iknows(pair(IDV,pair(req,T0)))

step step_1 (V,ATAj,H,Mask,PUF,PUFSeed,SK_old,T,IDV,T0,Dummy_T1,Dummy_T2,Tnew,Tack,Dummy_Ci,Dummy_Ci_next,Ns_prime,Dummy_Nd_prime,Dummy_Ri_prime,Dummy_Ri_next,Cnew,Rnew,Dummy_Ms,Dummy_Md,Dummy_SK_local,SK_new,Hup,Dummy_Set_45,Set_53,SID,T1,T2,Ci,Ci_next,Nd_prime) :=
 state_local_v(V,ATAj,H,Mask,PUF,PUFSeed,SK_old,T,IDV,1,T0,Dummy_T1,Dummy_T2,Tnew,Tack,Dummy_Ci,Dummy_Ci_next,Ns_prime,Dummy_Nd_prime,Dummy_Ri_prime,Dummy_Ri_next,Cnew,Rnew,Dummy_Ms,Dummy_Md,Dummy_SK_local,SK_new,Hup,Dummy_Set_45,Set_53,SID).
 iknows(pair(Ci,pair(apply(Mask,pair(Ns_prime,apply(PUF,pair(PUFSeed,Ci)))),pair(apply(H,pair(apply(Mask,pair(Ns_prime,apply(PUF,pair(PUFSeed,Ci)))),pair(apply(PUF,pair(PUFSeed,Ci)),T1))),T1))))
=[exists T2,Ci_next,Nd_prime]=>
 state_local_v(V,ATAj,H,Mask,PUF,PUFSeed,SK_old,T,IDV,2,T0,T1,T2,Tnew,Tack,Ci,Ci_next,Ns_prime,Nd_prime,apply(PUF,pair(PUFSeed,Ci)),apply(PUF,pair(PUFSeed,Ci_next)),Cnew,Rnew,apply(Mask,pair(Ns_prime,apply(PUF,pair(PUFSeed,Ci)))),apply(Mask,pair(Nd_prime,apply(PUF,pair(PUFSeed,Ci_next)))),apply(H,pair(Ns_prime,pair(Nd_prime,pair(apply(PUF,pair(PUFSeed,Ci)),pair(apply(PUF,pair(PUFSeed,Ci_next)),T2))))),SK_new,Hup,Dummy_Set_45,Set_53,SID).
 iknows(pair(Ci_next,pair(apply(Mask,pair(Nd_prime,apply(PUF,pair(PUFSeed,Ci_next)))),pair(apply(H,pair(apply(Mask,pair(Nd_prime,apply(PUF,pair(PUFSeed,Ci_next)))),pair(apply(PUF,pair(PUFSeed,Ci_next)),T2))),T2)))).
 witness(V,ATAj,local_vehicle_auth,pair(Ci_next,T2)).
 request(V,ATAj,local_ataj_auth,pair(Ci,T1),SID).
 secret(apply(H,pair(Ns_prime,pair(Nd_prime,pair(apply(PUF,pair(PUFSeed,Ci)),pair(apply(PUF,pair(PUFSeed,Ci_next)),T2))))),sec_local_key,Dummy_Set_45).
 contains(V,Dummy_Set_45).
 contains(ATAj,Dummy_Set_45)

step step_2 (V,ATAj,H,Mask,PUF,PUFSeed,SK_old,T,IDV,T0,T1,T2,Dummy_Tnew,Tack,Ci,Ci_next,Ns_prime,Nd_prime,Ri_prime,Ri_next,Dummy_Cnew,Dummy_Rnew,Ms,Md,SK_local,Dummy_SK_new,Dummy_Hup,Set_45,Set_53,SID,Tnew,Cnew) :=
 state_local_v(V,ATAj,H,Mask,PUF,PUFSeed,SK_old,T,IDV,2,T0,T1,T2,Dummy_Tnew,Tack,Ci,Ci_next,Ns_prime,Nd_prime,Ri_prime,Ri_next,Dummy_Cnew,Dummy_Rnew,Ms,Md,SK_local,Dummy_SK_new,Dummy_Hup,Set_45,Set_53,SID)
=[exists Tnew,Cnew]=>
 state_local_v(V,ATAj,H,Mask,PUF,PUFSeed,SK_old,T,IDV,3,T0,T1,T2,Tnew,Tack,Ci,Ci_next,Ns_prime,Nd_prime,Ri_prime,Ri_next,Cnew,apply(PUF,pair(PUFSeed,Cnew)),Ms,Md,SK_local,apply(H,pair(SK_old,pair(apply(PUF,pair(PUFSeed,Cnew)),pair(T,Tnew)))),apply(H,pair(SK_old,pair(IDV,pair(Cnew,pair(apply(PUF,pair(PUFSeed,Cnew)),pair(T,Tnew)))))),Set_45,Set_53,SID).
 iknows(pair(IDV,pair(Tnew,pair(Cnew,apply(H,pair(SK_old,pair(IDV,pair(Cnew,pair(apply(PUF,pair(PUFSeed,Cnew)),pair(T,Tnew)))))))))).
 witness(V,ATAj,local_key_update_request,pair(IDV,pair(Cnew,Tnew)))

step step_3 (V,ATAj,H,Mask,PUF,PUFSeed,SK_old,T,IDV,T0,T1,T2,Tnew,Dummy_Tack,Ci,Ci_next,Ns_prime,Nd_prime,Ri_prime,Ri_next,Cnew,Rnew,Ms,Md,SK_local,SK_new,Hup,Set_45,Dummy_Set_53,SID,Tack) :=
 state_local_v(V,ATAj,H,Mask,PUF,PUFSeed,SK_old,T,IDV,3,T0,T1,T2,Tnew,Dummy_Tack,Ci,Ci_next,Ns_prime,Nd_prime,Ri_prime,Ri_next,Cnew,Rnew,Ms,Md,SK_local,SK_new,Hup,Set_45,Dummy_Set_53,SID).
 iknows(pair(Tack,apply(H,pair(SK_new,pair(IDV,pair(T,pair(Tnew,pair(Tack,ack))))))))
 =>
 state_local_v(V,ATAj,H,Mask,PUF,PUFSeed,SK_old,T,IDV,4,T0,T1,T2,Tnew,Tack,Ci,Ci_next,Ns_prime,Nd_prime,Ri_prime,Ri_next,Cnew,Rnew,Ms,Md,SK_local,SK_new,Hup,Set_45,Dummy_Set_53,SID).
 request(V,ATAj,local_key_update_ack,pair(Tack,Tnew),SID).
 secret(SK_new,sec_updated_key,Dummy_Set_53).
 contains(V,Dummy_Set_53).
 contains(ATAj,Dummy_Set_53)

step step_4 (ATAj,V,H,Mask,PUF,PUFSeed,SK_old,T,IDV,Dummy_T0,Dummy_T1,T2,Tnew,Tack,Dummy_Ci,Ci_next,Dummy_Ns,Nd_prime,Ri_next,Cnew,Rnew_prime,Dummy_Ms,Md,SK_local,SK_new,Hup,Hack,Set_85,Set_86,SID,T0,T1,Ci,Ns) :=
 state_local_ataj(ATAj,V,H,Mask,PUF,PUFSeed,SK_old,T,IDV,0,Dummy_T0,Dummy_T1,T2,Tnew,Tack,Dummy_Ci,Ci_next,Dummy_Ns,Nd_prime,Ri_next,Cnew,Rnew_prime,Dummy_Ms,Md,SK_local,SK_new,Hup,Hack,Set_85,Set_86,SID).
 iknows(pair(IDV,pair(req,T0)))
=[exists Ns,Ci,T1]=>
 state_local_ataj(ATAj,V,H,Mask,PUF,PUFSeed,SK_old,T,IDV,1,T0,T1,T2,Tnew,Tack,Ci,Ci_next,Ns,Nd_prime,Ri_next,Cnew,Rnew_prime,apply(Mask,pair(Ns,apply(PUF,pair(PUFSeed,Ci)))),Md,SK_local,SK_new,Hup,Hack,Set_85,Set_86,SID).
 iknows(pair(Ci,pair(apply(Mask,pair(Ns,apply(PUF,pair(PUFSeed,Ci)))),pair(apply(H,pair(apply(Mask,pair(Ns,apply(PUF,pair(PUFSeed,Ci)))),pair(apply(PUF,pair(PUFSeed,Ci)),T1))),T1)))).
 witness(ATAj,V,local_ataj_auth,pair(Ci,T1))

step step_5 (ATAj,V,H,Mask,PUF,PUFSeed,SK_old,T,IDV,T0,T1,Dummy_T2,Tnew,Tack,Ci,Dummy_Ci_next,Ns,Nd_prime,Dummy_Ri_next,Cnew,Rnew_prime,Ms,Dummy_Md,Dummy_SK_local,SK_new,Hup,Hack,Dummy_Set_85,Set_86,SID,T2,Ci_next) :=
 state_local_ataj(ATAj,V,H,Mask,PUF,PUFSeed,SK_old,T,IDV,1,T0,T1,Dummy_T2,Tnew,Tack,Ci,Dummy_Ci_next,Ns,Nd_prime,Dummy_Ri_next,Cnew,Rnew_prime,Ms,Dummy_Md,Dummy_SK_local,SK_new,Hup,Hack,Dummy_Set_85,Set_86,SID).
 iknows(pair(Ci_next,pair(apply(Mask,pair(Nd_prime,apply(PUF,pair(PUFSeed,Ci_next)))),pair(apply(H,pair(apply(Mask,pair(Nd_prime,apply(PUF,pair(PUFSeed,Ci_next)))),pair(apply(PUF,pair(PUFSeed,Ci_next)),T2))),T2))))
 =>
 state_local_ataj(ATAj,V,H,Mask,PUF,PUFSeed,SK_old,T,IDV,2,T0,T1,T2,Tnew,Tack,Ci,Ci_next,Ns,Nd_prime,apply(PUF,pair(PUFSeed,Ci_next)),Cnew,Rnew_prime,Ms,apply(Mask,pair(Nd_prime,apply(PUF,pair(PUFSeed,Ci_next)))),apply(H,pair(Ns,pair(apply(PUF,pair(PUFSeed,Ci)),pair(apply(PUF,pair(PUFSeed,Ci_next)),T2)))),SK_new,Hup,Hack,Dummy_Set_85,Set_86,SID).
 request(ATAj,V,local_vehicle_auth,pair(Ci_next,T2),SID).
 secret(apply(H,pair(Ns,pair(apply(PUF,pair(PUFSeed,Ci)),pair(apply(PUF,pair(PUFSeed,Ci_next)),T2)))),sec_local_key,Dummy_Set_85).
 contains(V,Dummy_Set_85).
 contains(ATAj,Dummy_Set_85)

step step_6 (ATAj,V,H,Mask,PUF,PUFSeed,SK_old,T,IDV,T0,T1,T2,Dummy_Tnew,Dummy_Tack,Ci,Ci_next,Ns,Nd_prime,Ri_next,Dummy_Cnew,Dummy_Rnew_prime,Ms,Md,SK_local,Dummy_SK_new,Hup,Dummy_Hack,Set_85,Dummy_Set_86,SID,Tnew,Tack,Cnew) :=
 state_local_ataj(ATAj,V,H,Mask,PUF,PUFSeed,SK_old,T,IDV,2,T0,T1,T2,Dummy_Tnew,Dummy_Tack,Ci,Ci_next,Ns,Nd_prime,Ri_next,Dummy_Cnew,Dummy_Rnew_prime,Ms,Md,SK_local,Dummy_SK_new,Hup,Dummy_Hack,Set_85,Dummy_Set_86,SID).
 iknows(pair(IDV,pair(Tnew,pair(Cnew,apply(H,pair(SK_old,pair(IDV,pair(Cnew,pair(apply(PUF,pair(PUFSeed,Cnew)),pair(T,Tnew))))))))))
=[exists Tack]=>
 state_local_ataj(ATAj,V,H,Mask,PUF,PUFSeed,SK_old,T,IDV,3,T0,T1,T2,Tnew,Tack,Ci,Ci_next,Ns,Nd_prime,Ri_next,Cnew,apply(PUF,pair(PUFSeed,Cnew)),Ms,Md,SK_local,apply(H,pair(SK_old,pair(apply(PUF,pair(PUFSeed,Cnew)),pair(T,Tnew)))),Hup,apply(H,pair(apply(H,pair(SK_old,pair(apply(PUF,pair(PUFSeed,Cnew)),pair(T,Tnew)))),pair(IDV,pair(T,pair(Tnew,pair(Tack,ack)))))),Set_85,Dummy_Set_86,SID).
 request(ATAj,V,local_key_update_request,pair(IDV,pair(Cnew,Tnew)),SID).
 witness(ATAj,V,local_key_update_ack,pair(Tack,Tnew)).
 iknows(pair(Tack,apply(H,pair(apply(H,pair(SK_old,pair(apply(PUF,pair(PUFSeed,Cnew)),pair(T,Tnew)))),pair(IDV,pair(T,pair(Tnew,pair(Tack,ack)))))))).
 secret(apply(H,pair(SK_old,pair(apply(PUF,pair(PUFSeed,Cnew)),pair(T,Tnew)))),sec_updated_key,Dummy_Set_86).
 contains(V,Dummy_Set_86).
 contains(ATAj,Dummy_Set_86)


section properties:

property secrecy_of_sec_local_key (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_local_key,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property secrecy_of_sec_updated_key (MGoal,ASGoal) :=
 [] ((secret(MGoal,sec_updated_key,ASGoal) /\ iknows(MGoal))
     => contains(i,ASGoal))

property authentication_on_local_ataj_auth (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,local_ataj_auth,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,local_ataj_auth,MGoal))
     /\ ((request(A1Goal,A2Goal,local_ataj_auth,MGoal,SID1)
           /\ request(A1Goal,A2Goal,local_ataj_auth,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_local_vehicle_auth (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,local_vehicle_auth,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,local_vehicle_auth,MGoal))
     /\ ((request(A1Goal,A2Goal,local_vehicle_auth,MGoal,SID1)
           /\ request(A1Goal,A2Goal,local_vehicle_auth,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_local_key_update_request (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,local_key_update_request,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,local_key_update_request,MGoal))
     /\ ((request(A1Goal,A2Goal,local_key_update_request,MGoal,SID1)
           /\ request(A1Goal,A2Goal,local_key_update_request,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))

property authentication_on_local_key_update_ack (A1Goal,A2Goal,MGoal,SID,SID1,SID2) :=
 [] (((request(A1Goal,A2Goal,local_key_update_ack,MGoal,SID)
       /\ ~ equal(A2Goal,i))
      => witness(A2Goal,A1Goal,local_key_update_ack,MGoal))
     /\ ((request(A1Goal,A2Goal,local_key_update_ack,MGoal,SID1)
           /\ request(A1Goal,A2Goal,local_key_update_ack,MGoal,SID2)
           /\ ~ equal(A2Goal,i))
          => equal(SID1,SID2)))


section attack_states:

attack_state secrecy_of_sec_local_key (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_local_key,ASGoal) &
 not(contains(i,ASGoal))

attack_state secrecy_of_sec_updated_key (MGoal,ASGoal) :=
 iknows(MGoal).
 secret(MGoal,sec_updated_key,ASGoal) &
 not(contains(i,ASGoal))

attack_state authentication_on_local_ataj_auth (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,local_ataj_auth,MGoal,SID) &
 not(witness(A2Goal,A1Goal,local_ataj_auth,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_local_ataj_auth (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,local_ataj_auth,MGoal,SID1).
 request(A1Goal,A2Goal,local_ataj_auth,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_local_vehicle_auth (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,local_vehicle_auth,MGoal,SID) &
 not(witness(A2Goal,A1Goal,local_vehicle_auth,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_local_vehicle_auth (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,local_vehicle_auth,MGoal,SID1).
 request(A1Goal,A2Goal,local_vehicle_auth,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_local_key_update_request (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,local_key_update_request,MGoal,SID) &
 not(witness(A2Goal,A1Goal,local_key_update_request,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_local_key_update_request (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,local_key_update_request,MGoal,SID1).
 request(A1Goal,A2Goal,local_key_update_request,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

attack_state authentication_on_local_key_update_ack (A1Goal,A2Goal,MGoal,SID) :=
 request(A1Goal,A2Goal,local_key_update_ack,MGoal,SID) &
 not(witness(A2Goal,A1Goal,local_key_update_ack,MGoal)) &
 not(equal(A2Goal,i))
attack_state replay_protection_on_local_key_update_ack (A2Goal,A1Goal,MGoal,SID1,SID2) :=
 request(A1Goal,A2Goal,local_key_update_ack,MGoal,SID1).
 request(A1Goal,A2Goal,local_key_update_ack,MGoal,SID2) &
 not(equal(SID1,SID2)) &
 not(equal(A2Goal,i))

